.explore-page {
    padding: 2rem;
    margin: 0;

    &_sub__header {
        display: block;
        width: 500px;
        box-sizing: border-box;
        font-family: 'MacanPanWeb-Semibold';

        &__title {
            color: #222235;
            padding: 0.5rem;
            font-weight: 700;
            font-size: 2rem;
            margin: 0;

        }

    }
}