.gig-details {
    align-content: center;
    gap: clamp(2.5rem, 5vw, 7rem);
    padding: 2rem 5rem 2rem;

    @media (min-width: $narrow-breakpoint) {
        grid-template-columns: 2fr 1fr;
    }

    .gig-info {

        @media (min-width: $narrow-breakpoint) {
            grid-row: 1;
        }

        .breadcrumb-container,
        h2 {
            margin-bottom: 1rem;
        }

        .mini-user {
            margin-bottom: 1rem;
            --scale: 1;
            gap: calc(1rem * (0.5 + var(--scale) * 0.5));

            .img-container {
                border-radius: 10%;
                background-color: #eee;
                width: calc(4rem * var(--scale));
                height: calc(4rem * var(--scale));
            }

            .fullname {
                font-weight: $weight2;
            }
        }

        .img-carousel {
            width: 100%;
            height: 300px;
            background-color: #eee;
            display: grid;
            place-items: center;
        }

        .about-gig,
        .about-user,
        .review-statistics {
            background: #f9f9f9;
            padding: 1rem;
            border-radius: .5rem;
        }

        .reviews {
            gap: 1rem;
        }
    }

    .user-interaction {
        align-self: flex-start;
        display: grid;
        gap: 1rem;

        .interaction-bar {
            display: none;
            margin-bottom: 1rem;

            .heart-wrapper {
                display: inline-block;
                cursor: pointer;

                .tooltip {
                    position: absolute;
                    top: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $clr5;
                    color: $clr1;
                    padding: .75rem;
                    border-radius: .25rem;
                    opacity: 0;
                    transition: opacity .15s ease-in;

                }
                
                &:hover .tooltip {
                    opacity: 0.9;
                }
                
                &.saved .tooltip {
                    opacity: 0;
                }
            }

        }

        >.purchase-modal {
            padding: 1rem;
            text-align: center;
            grid-column: 1;
            color: $textclr1;
            border: 1px solid $gray1;
            line-height: 24px;

            button {
                background-color: $clr6;
                color: $clr1;
                padding: .75rem 1.5rem;
                transition: 70ms cubic-bezier(.75, 0, .25, 1);

                &:hover {
                    background: $clr5;
                }
            }
        }


        @media (min-width: $narrow-breakpoint) {
            position: sticky;
            top: 2rem;

            .interaction-bar {
                display: block;
                border: 1px solid #ffe082;
                border-radius: 8px;
                text-align: center;
            }
        }
    }
}