.gig-details {
    align-content: center;
    gap: clamp(2.5rem, 5vw, 7rem);
    padding: 2rem 5rem 2rem;

    @media (min-width: $narrow-breakpoint) {
        grid-template-columns: 2fr 1fr;
    }

    .gig-info {

        @media (min-width: $narrow-breakpoint) {
            grid-row: 1;
        }

        .mini-user {
            --scale: 1;
            gap: calc(1rem * (0.5 + var(--scale) * 0.5));

            .img-container {
                border-radius: 10%;
                background-color: #eee;
                width: calc(4rem * var(--scale));
                height: calc(4rem * var(--scale));
            }

            .fullname {
                font-size: calc(1rem * var(--scale));
            }
        }

        .img-carousel {
            width: 100%;
            height: 300px;
            background-color: #eee;
            display: grid;
            place-items: center;
        }

        .about-gig,
        .about-user,
        .review-statistics {
            background: #f9f9f9;
            padding: 1rem;
            border-radius: 8px;
        }

        .reviews {
            gap: 1rem;
        }
    }

    .user-interaction {
        align-self: flex-start;
        display: grid;
        gap: 1rem;

        .interaction-bar {
            display: none;
        }

        >.purchase-modal {
            background: #e0f7fa;
            padding: 1rem;
            border: 1px solid #4dd0e1;
            border-radius: 8px;
            text-align: center;
            grid-column: 1;
        }


        @media (min-width: $narrow-breakpoint) {
            position: sticky;
            top: 2rem;

            .interaction-bar {
                display: block;
                background: #fff8e1;
                border: 1px solid #ffe082;
                border-radius: 8px;
                text-align: center;
            }
        }
    }
}