.user-profile {
    padding: 2rem;
    display: grid;
    grid-template-columns: 31.25rem 4rem auto;

    p {
        margin: 0;
    }

    .profile-page-left-side {

        .profile-mini-user {
            border: 1px solid $borderprofile;
            border-radius: 0.75rem;
            padding: 2rem;
            margin-bottom: 1.5rem;

            .picture-name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                * {

                    &:nth-child(1) {
                        margin-bottom: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-bottom: 0.5rem;
                    }

                    &:nth-child(3) {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid $borderprofile;
                        width: 100%;
                    }
                }
            }

            .location-join-date,
            .profile-languages,
            .preferred-hours {
                padding-block: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-bottom: 1px solid $borderprofile;

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }

            .preferred-hours {
                color: $textclr10;
                border-bottom: none;
                padding-bottom: 0;

                svg {
                    fill: $textclr10;
                }
            }
        }

        button {
            width: 100%;
            background-color: $transparent;
            border: 1px solid $textclr7;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            font-family: Macan;
            line-height: 1.5rem;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: $backhover;
            }
        }
    }

    svg {
        height: 1rem;
        width: 1rem;
    }
}