.app-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $textclr7;
    min-height: 3.5rem;
    padding: 0 2rem 2.5rem 2rem;
    font-size: 0.875rem;
    color: $textclr3;
    

    p {
        margin: 0;
    }
    
    span {
        font-size: .8em;
        
        &.local-services {
            color: $clr1;
        }
        
        &.remote-services {
            color: $clr5;
        }
    }
}