.categories-row-wrapper {
    grid-column: 2;
    border-bottom: 0.1px solid #e4e5e7;
    ul {
        font-size: 1rem;
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        li {
            margin: 0;
            display: inline-block;
            
            padding: 0 10px;
            a {
                padding: 8px 0;
            }
        }
    }
}