.gig-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    grid-column-gap: 24px;
    margin-top: 2.5rem;
}

@media (max-width: 1160px) {
    .gig-list {
        grid-row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .gig-list {
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 600px) {
    .gig-list {
        grid-template-columns: minmax(0, 1fr);
        width: 100%;
    }
}

