.gig-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;

    li {
        // padding: .5em;
        // background-color: $clr2;
        // color: $clr6;


        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }
}