.gig-preview {
    border-radius: 8px;
    min-width: 100%;

    &__img {
        width: 100%;
        height: auto;
        min-height: 190px;
        display: block;
        border-radius: 8px;
        object-fit: cover;
        cursor: pointer;
    }

    &__author {
        column-gap: 8px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        font-size: 14px;
        color: #222325;
        cursor: default;
    }

    &__author-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
    }

    &__author-name {
        font-family: MacanBold;
        font-weight: $weight2;
        line-height: 1.2;
    }



    &__desc {
        font-family: MacanLight;
        color: #404145;
        cursor: pointer;

        &:hover,
        &.hovered {
            text-decoration: underline;
        }

        &.hovered {
            text-decoration: underline;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        height: 2rem;
        gap: 4px;
        margin: 0.5rem 0 0;
        color: $textclr3;
        cursor: default;
        font-family: MacanBold;

        &-icon,
        &-number {
            margin: 0;
            padding: 0;
        }

        &-icon {
            padding-bottom: 0.25rem;
            width: 1rem;
            height: 1rem;
        }

        &-number {
            line-height: 24px;
            font-size: 1rem;
            align-self: center;
        }
    }

    &__price-label {
        margin: 0;
        font-family: MacanBold;
        color: $textclr3;
        font-size: 1rem;
    }
}

.gig-preview__price {
    margin-left: 4px;

}

a.gig-preview__price-label {
    max-width: fit-content;
}

.gig-preview__rating-level {
    padding: 0 4px;
    align-items: center;
    gap: 3px;
    margin: 0 0 0 auto;
    font-weight: $weight1;
}

.rating-3 {
    border-radius: 5px;
    background-color: #ffe0b3;
}