.header-search-bar {
    display: flex;
    flex: 1;
    align-items: center;

    * {
        margin: 0;
    }

    input {
        flex: 1;
        padding: 0.625rem 0.125rem 0.625rem 1rem;
        border-color: $textclr5;
        border-radius: 0.25rem 0 0 0.25rem;
        border-width: 0.05rem 0 0.05rem 0.05rem;
        border-style: solid;
        color: #62646a;
    }

    button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: $textclr3;
        font-size: 0.8rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;

        i {
            height: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}