.slideshow-container {
    position: relative;
    overflow: hidden;
    min-height: clamp(150px, 190px, 400px); // ensure container shows image

    .slides {
        display: flex; // line up all slides side-by-side
        width: 100%;
        transition: transform 0.5s ease; // smooth slide animation
    }

    .slide {
        flex: 0 0 100%; // each slide is full container width
        position: relative; // in case you layer anything later
        transition: opacity 0.5s ease; // fade-in on active

        &.active {
            opacity: 1;
        }

        img {
            display: block;
            width: 100%;
            border-radius: 8px;
            min-height: clamp(150px, 190px, 400px);
            cursor: pointer;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        width: 32px;
        height: 32px;
        background: $clr1;
        border-radius: 50%;
        z-index: 2;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .prev {
        left: 10px;
        transform: translate(-100%, -50%);
    }

    .next {
        right: 10px;
        transform: translate(100%, -50%);
    }
}

.single-slide {
    img {
        display: block;
        width: 100%;
        border-radius: 8px;
        min-height: clamp(150px, 190px, 400px);
        cursor: pointer;
    }
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    transform: translateY(-50%);
    opacity: 1;
    pointer-events: auto;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 6px;
    height: 6px;
    background: #ffffffb3;
    transition: background;
}

.dot.active {
    width: 6px;
    height: 6px;
    background: $clr1;
}

.dot:last-of-type {
    width: 5px;
    height: 5px;
}

.dot:first-of-type {
    width: 5px;
    height: 5px;
}

.dot.active:last-of-type,
.dot.dot.active:first-of-type {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 1);
}