.slideshow-container {
    position: relative;
    overflow: hidden;
    // height: 220px;

    .slides {
        display: flex;
        transition: transform 0.5s ease;
        border-radius: 8px;
    }

    .slide {
        object-fit: cover;
        flex: 0 0 100%;
        height: 100%;
        width: 100%;
        position: relative;
        transition: opacity 0.5s ease;

        &.active {
            opacity: 1;
        }

        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
            display: block;
            cursor: pointer;
            overflow-clip-margin: content-box;
            overflow: clip;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        width: 32px;
        height: 32px;
        background: $clr1;
        border-radius: 50%;
        z-index: 2;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .prev {
        left: 10px;
        transform: translate(-100%, -50%);
        pointer-events: none;
    }

    .next {
        pointer-events: none;
        right: 10px;
        transform: translate(100%, -50%);
    }
}

.single-slide {
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    transform: translateY(-50%);
    opacity: 1;
    pointer-events: auto;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 6px;
    height: 6px;
    background: #ffffffb3;
    transition: background;
}

.dot.active {
    width: 6px;
    height: 6px;
    background: $clr1;
}

.dot:last-of-type {
    width: 5px;
    height: 5px;
}

.dot:first-of-type {
    width: 5px;
    height: 5px;
}

.dot.active:last-of-type,
.dot.dot.active:first-of-type {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 1);
}