.stars-display {
    color: $textclr3;

    .stars {
        display: inline-flex;
        align-items: baseline;
        gap: rem(4px);
    }

    .rating-num {
        font-weight: $weight1;
    }

    .review-count {
        color: $textclr4;
        padding-left: rem(4px);
    }

}