// Colors
$clr1: #fff;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #404145;
$clr6: #000;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// diverr colours

$transparent: rgb(0, 0, 0, 0);
$textclrwhite: #fff;
$textclrblack: #000;
$textclrloggedin: #25a1b0; //change later to random changing color
$textclr1: #62646a;
$textclr2: #404145;
$textclr3: #222325;
$textclr4: #74767e;
$textclr5: #c5c6c9;
$textclr6: #003912;
$textclr7: #e4e5e7;
$textclr8: #21c075;


// fonts
$weight0: 400;
$weight1: 600;
$weight2: bold;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;